#mast form#search {
	left: 680px;
	right: auto;
}

#mast h1 a {
	position: relative;
}

#navigation li a {
	margin-left: 23px;
}

#navigation li a i {
	bottom: -14px;
	margin-left: -23px;
}

#navigation li a:hover i {
	left: 50%;
}

#main {
	height: 1%;
}


/*-  Self-clearing floats
----------------------------------------------------------------------*/
.row,
.block,
#navigation,
#content,
.entry,
.entry .head {
	height: 1%;
}
